<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Contact Eric</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="css/Port.css" rel="stylesheet">
	</head>
	<body>
		<div>
			<a href="/Home">Home</a> <a href="/Projects">Projects</a> <a href="/Contact">Contact</a>
		</div>
        <div id="header">
			<h1 class="headleft">Contact</h1>
		</div>
        <div id="wrapper" class="middy">
            <h4> Leave me a message or just let me know you've visited</h4>
            <form action="/Submit" method="POST">
                <p class="inputs">Name: </p><input type="text" name="name" placeholder="Name"><br>
                <p class="inputs">E-mail: </p><input type="text" name="email" placeholder="E-mail"><br>
                <p class="inputs">Comments: </p><br><textarea name="comment" placeholder="Message"></textarea><br>
				<button type="submit">Send info</button>                
            </form>
        </div>
	</body>
</html>
