<!DOCTYPE html>
<html lang="en">
    <head>
		<title>Portfolio for Eric Jones</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="css/Port.css" rel="stylesheet">
	</head>
	<body>
		<div>
			<a href="/Home">Home</a> <a href="/Projects">Projects</a> <a href="/Contact">Contact</a>
		</div>
		<div id="header">
			<h1 class="headleft">Eric Jones</h1>
		</div>
		<div id="wrapper">
			<div id="topleft">
				<img class="pom" src="Images/me.jpg"></img>
			</div>
			<div id="topright">
				<h3>Coding</h3>
					<p>Thanks for checking out my portfolio page</p>
					<p>I'm currently attending Coding Dojo online, a coding bootcamp school.  My studies have focuses on a variety of technologies including backend technologies C# (razor, ASP.Net), Python ( flask, django, and scripting) and front-end technologies: HTML, CSS, and Javascript (JQuery) </p>
					<p>I'm not limited to what I've done in school.  I'm always interested in learning new information and previously worked with BASH and Linux technology</p>
					<p>My original focus was on becoming a medicinal chemist and working in drug development.  I got into computers while studying molecular modeling.  I am still highly interested in this.</p>
					<p>See projects in C#, Python, Front-End</p>
			</div>

			
			<div id="middle">
            <H3>Science</H3>
				<h4>Purdue University</h4>
				<ul style="list-style-type: circle">Medicinal Chemistry and Molecular Pharmacology (M.S) -Course Work
					<li>Adanced Organic Synthesis</li>
					<li>Organometallic Chemistry</li>
					<li>Medicinal Chemistry</li>
					<li>Neurobiology</li>
					<li>Grant Writing</li>
				</ul>
				<ul style="list-style-type: circle">Ramachandran Lab
					<li>Synthesis of substituted γ-aminobutyric acids.</li>
					<li>Investigated late-stage enantioselective rhodium catalyzed addition of boronic acids to sulfonimines.</li>
					<li>Performed GABA<sub>B</sub> and luciferase gene insertion in HEK cells during development of an assay for compound activity.</li>
				</ul>
				<ul style="list-style-type: circle">Borch Lab
					<li>Synthesis of peptidomimetics for the inhibition of the adapter protein 14-3-3: <a href="https://docs.lib.purdue.edu/cgi/viewcontent.cgi?article=1054&context=open_access_theses">Thesis work(pdf)</a></li>
					<li>Designed and synthesized peptidomimetic inhibitors and non-hydrolyzable phosposerine prodrugs.</li>
					<li>Performed computational modeling and structure-based drug design.</li>
					<li>Chiral HPLC, and GCMS used regularly for determination of compound purity</li>
					<li>C<sub>13</sub>NMR, P<sub>31</sub>NMR, F<sub>19</sub>NMR and H<sub>1</sub>NMR used for compound identification</li>
				</ul>
				<h4>Michigan State University</h4>
				<ul style="list-style-type: circle">Human Biology (B.S.) and Chemistry(B.S.)- Course Work
					<li>Organic, Inorganic synthesis</li>
					<li>Analytical, Physical chemistry</li>
					<li>Biochemistry</li>
					<li>Differential Equations</li>
					<li>Microbiology</li>
					<li>Eukaryotic Cell Biology</li>
					<li>Genetics</li>
					<li>Physiology and Toxicology</li>
				</ul>
				<ul style="list-style-type: circle">Hegg Lab
					<li>Handled and anesthetized rodents</li>
					<li>Sectioned and fixed live tissue slices.</li>
					<li>Prepared tissue and cell line culture.</li>
					<li>Performed immunohistochemistry on olfactory epithelium.</li>
					<li>Performed imaging using fluorescent and confocal microscopy</li>
					<li>Presented results at college-wide research day</li>
					<li>Trained undergraduate students in lab techniques</li>
					<li>PCR for characterizing tissue stains</li>
				</ul>
			</div>
			<div id="middle">
			<h3>Work</h3>
				<ul style="list-style-type: circle">Vita Food Products-Sept 2015-Current
					<li>Prepare for  and participate in BAP/BRC/FDA audits
					<li>Analyze product for specification conformance, ELISA, titrations, nitrite testing (UV-vis ) while complying with a HACCP plan</li>
					<li>Pre-operation examinations/ Communication with Sanitation and SSOP development</li>
					<li>USDC inspections</li>
					<li>Taste testing product</li>
					<li>Communicate with 3rd party laboratories.</li>
					<li>Monitor HACCP /QA documentation</li>
					<li>Maintain equipment functionality in accordance with FDA guidelines in a GMP/GLP facility (pre-operation/operation)</li>
					<li>Audit chemical usage reports/ purchasing laboratory supplies</li>
					<li>Monitor incoming product and certificates of analysis from third parties, communicate SCARs</li>
					<li>Approve labels, receiving forms, and packaging for accuracy.</li>
					<li>Writing and modifying existing SOPs., import/export, technical documents.</li>
					<li>Develop internal and facility audit</li>
					<li>Test and prepare bench-top samples of new products including preparing shelf life studies</li>
					<li>QA associated customer complaint response.</li>
					<li>Communicate with pest management</li>
					<li>Generate COAs</li>
				</ul>
				<ul style="list-style-type: circle">Abbott Laboratories-Nov 2014-May 2015(contract)
					<li>Perform GMP duties</li>
					<li>Managed data on an online database</li>
					<li>Reported work in electronic lab notebook</li>
					<li>Perform assays following GLP</li>
					<li>Record and report inconsistencies</li>
				</ul>
			</div>	
		</div>  
	</body>
</html>