<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Contact Eric</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="css/Port.css" rel="stylesheet">
	</head>
	<body>
		<div>
			<a href="/Home">Home</a> <a href="/Projects">Projects</a> <a href="/Contact">Contact</a>
		</div>
        <div id="header">
			<h1 class="headleft">Projects</h1>
		</div>
        <div id="wrapper">
            <div id="bottom">
                <H3>Web Design</H3>
                <p>Design for cats</p>
                <p>My Tv shows</p>
            </div>
            <div id="bottom">
                <H3>Python</H3>
                <p>Pizza Bob site-built on Flask</p>
                <p>Baby's buying - built on Django</p>
            </div>
            <div id="bottom">
                <H3>C#</H3>
                <p>This Site is built on C#</p>
                <p>Freemont RPG game</p>
            </div>
        </div>
	</body>
</html>