@model FormSub.Models.Users
@{
    ViewData["Title"] = "A Web Page";
}
<h1>Enter your information</h1>
<form asp-action="Submit" method="post">
    <div class="form-group">
        <span asp-validation-for="first_name"></span>
        <label asp-for="first_name"></label> 
        <input asp-format="text" asp-for="first_name">
    </div>
    <div class="form-group">
        <span asp-validation-for="last_name"></span>
        <label asp-for="last_name"></label> 
        <input asp-format="text" asp-for="last_name">
    </div>
    <div class="form-group">
        <span asp-validation-for="age"></span>
        <label asp-for="age"></label> 
        <input asp-format="text" asp-for="age">
    </div>
    </div>
    <div class="form-group">
        <span asp-validation-for="email"></span>
        <label asp-for="email"></label> 
        <input asp-format="text" asp-for="email">
    </div>
    </div>
    <div class="form-group">
        <span asp-validation-for="password"></span>
        <label asp-for="password"></label> 
        <input asp-format="text" asp-for="password">
    </div>
    <button type="submit">Submit</button>
</form>