@model AjaxNotes.Models.Notes
@{
    ViewData["Title"] = "Home Page";
}
@foreach(Dictionary<string, object> note in ViewBag.notelist)
{
    <p>@note["Titles"] <a href='/delete/@note["id"]'>delete</a></p>
    <div class="hid">
        <p>@note["Description"]</p>
    </div>
    <div class="seek">
        <form class="uppy" asp-action="UpdateNote" method="post">
        <div class="form-group">
            <span asp-validation-for="description"></span>
            <label asp-for="description"></label> 
            <input class="uppyinput" asp-format="text" asp-for="description">
        </div>
        <button type="submit">Update Description</button>
        </form>
    </div>
}


<form asp-action="AddNote" method="post">
    <div class="form-group">
        <span asp-validation-for="title"></span>
        <label asp-for="title"></label> 
        <input asp-format="text" asp-for="title">
    </div>
    <button type="submit">Add Note</button>
</form>
<button class="toggle">Click me</button>