@model Restauranter.Models.ValidateUserModel
@{
    ViewData["Title"] = "Home Page";
}
<h1>Write a new Review:~</h1>
<a href="/">Go Home</a>
<form asp-action="Create" method="post">
    <div class="form-group">
        <span asp-validation-for="name"></span>
        <label asp-for="name"></label> 
        <input asp-format="text" asp-for="name">
    </div>
    <div class="form-group">
        <span asp-validation-for="resteraunt"></span>
        <label asp-for="resteraunt"></label> 
        <input asp-format="text" asp-for="resteraunt">
    </div>
    <div class="form-group">
        <span asp-validation-for="review"></span>
        <label asp-for="review"></label> 
        <input asp-format="text" asp-for="review">
    </div>
    <div class="form-group">
        <span asp-validation-for="visit"></span>
        <label asp-for="visit"></label> 
        <input asp-format="text" asp-for="visit" placeholder="mm/dd/yyyy">
    </div>
    <div class="form-group">
        <span asp-validation-for="stars"></span>
        <label asp-for="stars"></label> 
        <select asp-for="stars" class="form-control">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>
    <button type="submit">Submit</button>
</form>