<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Survey Form</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <p>Thanks for submitting this form!</p>
        <h3>Submitted information</h3>
        <br>
        Name: @ViewBag.name
        <br>
        Dojo Location: @ViewBag.location
        <br>
        Favorite Language: @ViewBag.language
        <br>
        Comment: @ViewBag.comment
    </body>
</html>