@using DojoLeague.Models.DojoValidation
@{
    ViewData["Title"] = "Dojo League";
}
<div>
    <h1>Register a Dojo</h1>
    <form asp-action="CreateDojo" method="post">
    <div class="form-group">
        <span asp-validation-for="name"></span>
        <label asp-for="name"></label> 
        <input asp-format="text" asp-for="name">
    </div>
    <div class="form-group">
        <span asp-validation-for="location"></span>
        <label asp-for="location"></label> 
        <input asp-format="text" asp-for="location">
    </div>
    <div class="form-group">
        <span asp-validation-for="info"></span>
        <label asp-for="info"></label> 
        <input asp-format="text" asp-for="info">
    </div>
    <button type="submit">Add</button>
</div>
<div>
    <h1>All Dojos</h1>
    <table>
        <tr>
            <th>
                Dojo Name
            </th>
        </tr>
        <tr>
            <td>
                
            </td>
        </tr>
    </table>
</div>